{% extends "donation_request_hub/_base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h2><a class="article-title">Хто ми?</a></h2>
            <p>Donation Hub - це волонтерський проєкт, який допомагає збирати кошти для військових та гуманітарних
                потреб під час війни в Україні. Ініціативу створено задля надання підтримки тим, хто захищає нашу країну
                або опинився у скрутній ситуації через воєнний конфлікт.</p>

            <p>Місія цього проєкту - стати мостом між тими, хто бажає допомогти, та тими, хто потребує цієї допомоги
                найбільше. На цьому сайті ви зможете ознайомитися з актуальними потребами та проектами. Тут ви зможете
                зробити пожертву, обравши проект, який вас найбільше цікавить.</p>

            <p>Кожен внесок має велике значення. Разом ми можемо та маємо зробити все задля перемоги. Слава
                Україні!</p>
        </div>
    </article>
{% endblock content %}